.max-w-150 {
  max-width: 150px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5rem;
}

.flex-grow-1 {
  /* @apply flex flex-row justify-evenly flex-grow */
  flex-grow: 1;
}

.flex-grow-4 {
  /* @apply flex flex-row justify-start; */
  flex-grow: 4;
}

.selected {
  color: #00ff77c7;
  font-weight: bold;
}
